<div class="container">
    <h3 class="text-center"> How To Install A Technic Modpack</h3>
    <br>
    <p class="text-center">Welcome to this quick and easy tutorial on how to install a modpack using the Technic
        Launcher.</p>
    <p class="text-center">Carefully read and follow the instructions in this tutorial to prevent unwanted damage to
        your system.</p>
    <hr>
    <p><strong>Part 1 - Setting up your Technic Launcher.</strong> If you already have your Technic Launcher set-up, go
        to <a href="#Part2">part 2</a></p><a class="anchor" id="Part1"
                                             style="display: block; position: relative; top: -60px; visibility: hidden;"></a>

    <p><strong>Step 1.</strong></p>
    <p>To play a Technic Modpack, you will need the Technic Launcher program on your computer, you can download it from
        <a href="http://technicpack.net/download">http://technicplatform.net/download</a>. Choose the correct operating
        system and save it to a location you can easily access (preferably your desktop or games folder).</p>
    <p>Side note: The Technic Launcher requires Java on your computer to run, just like Minecraft. Make sure you are
        using the latest 64-bit version of Java for maximum performance and security. Download Java from the official
        website <a href="http://java.com/en/download/manual.jsp">http://java.com/en/download/manual.jsp</a>.</p>
    <img src="/images/tutorial/tutorial_1.png" class="img-responsive" alt="Step 1">
    <br>
    <p><strong>Step 2.</strong></p>
    <p>Start the Technic Launcher by double-clicking on the application icon.</p>
    <img src="/images/tutorial/tutorial_2.png" class="img-responsive" alt="Step 2">
    <br>
    <p><strong>Step 3.</strong></p>
    <p>Log in with your Mojang username (email) and password.</p>
    <img src="/images/tutorial/tutorial_3.png" class="img-responsive" alt="Step 3">
    <br>
    <p><strong>Step 4.</strong></p>
    <p>We'll need to check if the Launcher uses your correct Java version and if it's memory settings are correct. To do
        this, click on "Launcher Settings".</p>
    <img src="/images/tutorial/tutorial_4.png" class="img-responsive" alt="Step 4">
    <br>
    <p><strong>Step 5.</strong></p>
    <p>Under the tab "Java Settings", check if "Minecraft Java Version" is set to "Latest 64-Bit (1.8.0_XX)"</p>
    <p>Set "Memory" as high as possible.</p>
    <img src="/images/tutorial/tutorial_5.png" class="img-responsive" alt="Step 5">
    <br>
    <p><strong>End of Part 1.</strong></p>
    <hr>
    <p class="text-center"><strong>Now your Technic Launcher is all set-up for the installation of modpacks!</strong>
    </p>
    <hr>
    <p><strong>Part 2 - Adding a Modpack.</strong> Modpack used as example: GATES.</p><a class="anchor" id="Part2"
                                                                                         style="display: block; position: relative; top: -95px; visibility: hidden;"></a>
    <p><strong>Step 6.</strong></p>
    <p>To add a modpack, you need to search for it on the Technic Platform. Once you have found the modpack, click on
        "Install This Modpack" to copy the Platform URL.</p>
    <img src="/images/tutorial/tutorial_6.png" class="img-responsive" alt="Step 6">
    <br>
    <p><strong>Step 7.</strong></p>
    <p>Back in the Technic Launcher, paste the link you just copied into the Modpack Search Field. Click on the Modpack
        that pops up to see a little info about that Modpack.</p>
    <img src="/images/tutorial/tutorial_7.png" class="img-responsive" alt="Step 7">
    <br>
    <p><strong>Step 8.</strong></p>
    <p>To install the Modpack, click on "Install". The modpack will now start downloading all the required files.</p>
    <img src="/images/tutorial/tutorial_8.png" class="img-responsive" alt="Step 8">
    <br>
    <p><strong>Step 9.</strong></p>
    <p>Once the download has finished, click "Play" to launch the modpack.</p>
    <img src="/images/tutorial/tutorial_9.png" class="img-responsive" alt="Step 9">
    <br>
    <p><strong>Step 10.</strong></p>
    <p>Have fun playing Modpacks using the Technic Launcher!</p>
    <img src="/images/tutorial/tutorial_10.png" class="img-responsive" alt="Step 10">
    <br>
    <p><strong>End of Part 2.</strong></p>
    <hr>
    <p class="text-center"><strong>Congratulations! You have successfully installed a modpack using the Technic
        Launcher!</strong></p>
    <p class="text-center">To add other modpacks, repeat <strong><a href="#Part2">part 2</a></strong> of this tutorial.
    </p>
    <hr>
</div>