<div class="container error_div" style="text-align: center">
    <h2>Whoops, looks like you took a wrong turn somewhere.</h2>
    <h2 class="error_text">500 - INTERNAL SERVER ERROR</h2>
    <span class="mdi mdi-memory"></span>
    <p>The server encountered an error it was unable so solve,
        <br>A notification has been sent to the server administrator.</p>
    <br>
    <a href="/" class="button primary"><span class="mif-home"></span> Back to the homepage</a>
</div>