.idea
*.iml
/client/public/stylesheets/*
/client/public/javascript/*
/npm-debug.log
/config/database.ini
/config/mail.ini
/config/config.ini
/config/solder.ini
node_modules
/config/crts/
/tmp/
/logs/
/cache/
*.db
changelog.hbs