<script>
    $.Notify({
        caption: 'Permission denied!',
        content: 'You need to be logged in to view this page.',
        type: 'alert',
        shadow: true,
        icon: "<span class='mif-lock'></span>",
        timeout: 10000
    });
</script>