<footer>
    <div class="container">
        <hr>
        <p class="footer_text">
            <span class="fa fa-copyright"></span>
            2011 - 2016 saturnserver.org, by
            <a href="https://github.com/Ionaru" target="_blank">Jeroen Akkerman</a>.
        </p>
    </div>
</footer>

{{#if user.login}}
    {{> core/change}}{{> profile}}
{{else}}
    {{> core/login}}{{> core/register}}
{{/if}}

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    $('.modal').on('scroll touchmove mousewheel', function(e){
        e.preventDefault();
        e.stopPropagation();
        return false;
    })
</script>