<title>{{{title}}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="{{{description}}}">
<meta name="keywords" content="{{{keywords}}}">
<meta name="author" content="{{{author}}}">
<link rel="shortcut icon" href="/favicon.ico"/>

<!-- Load client libraries -->
<link rel="stylesheet" href="/libs/bootstrap-3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/libs/bootswatch-lumen-3.3.7/bootstrap.min.css">
<link rel="stylesheet" href="/libs/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/libs/materialdesign-webfont-1.7.22/css/materialdesignicons.min.css"/>
<script src="/libs/jquery-3.1.1/jquery-3.1.1.min.js"></script>
<script src="/libs/sorttable-2/sorttable.js"></script>
<script src="/libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/libs/bootstrap-progressbar-0.9.0/bootstrap-progressbar.min.js"></script>

<!-- Load custom styles and scripts -->
<link rel="stylesheet" href="/stylesheets/style.css"/>
<script src="/javascript/saturn.js"></script>

<!-- Hotjar Tracking Code for https://saturnserver.org -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:294077,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>