<div class="register modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Register</h4>
            </div>

            <form id="registerForm" autocomplete="off">
                <div class="modal-body">

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="uRegLogin" placeholder="Account name">
                            <label for="uRegLogin" id="uRegLogin_icon"
                                   class="input-group-addon mdi mdi-account mdi-18px"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="email" class="form-control" id="uRegEmail" placeholder="Email">
                            <label for="uRegEmail" id="uRegEmail_icon"
                                   class="input-group-addon mdi mdi-email mdi-18px"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" class="form-control" id="uRegPassword" placeholder="Password"
                                   autocomplete="new-password">
                            <label for="uRegPassword" id="uRegPassword_icon"
                                   class="input-group-addon mdi mdi-key-variant mdi-18px"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" class="form-control" id="uRegPassword2"
                                   placeholder="Confirm password" autocomplete="new-password">
                            <label for="uRegPassword2" id="uRegPassword2_icon"
                                   class="input-group-addon mdi mdi-key-variant mdi-18px"></label>
                        </div>
                    </div>

                    <div class="registerError">
                        <p class="register_error_text text-center"></p>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="form-control btn btn-success disabled">Create account</button>

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             data-transitiongoal="100"></div>
                        <span class="sr-only">progress</span>
                    </div>
                </div>
            </form>
            <div class="post-register text-center">
                <p>Your account was created successfully and you are now logged in.</p>
            </div>
        </div>

    </div>
</div>