<header class="jumbotron main_header">
    <div class="container">
        <br>
        <h1>{{title}}</h1>
        <h3>A group of Minecraft servers and modpacks working together.</h3>
    </div>
</header>
<div class="container modpacks">
    <div class="row">
        <h2 class="text-center">Servers &amp; Modpacks</h2>
        <p class="text-center">These are the modpacks developed or maintained by us.</p>
        <div class="col-lg-4 col-sm-6 col-xs-12 text-center modpack">
            <img alt="Technolution logo" src="/images/modpacks/technolution/TechlogoRGBshadow150.png">
            <h3>Technolution Advanced</h3>
            <p>Who told you technology is easy? In Technolution it's definitely not! We use technological and
               gameplay mods that will provide a Minecraft experience like you've never seen before! </p>
            <div>
                <a class="btn btn-primary" href="technolution" role="button">Modpack Page</a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 text-center modpack">
            <img alt="GATES logo" src="/images/modpacks/gates/StargateGATES.png">
            <h3 class="ah">GATES</h3>
            <p>Explore new worlds, planets and dimensions in GATES! Ionaru's brand-new modpack focused around the
               use of Stargates. With magical and technological weaponry at your disposal, no enemy can stand in
               your way!</p>
            <div>
                <a class="btn btn-primary ah" href="gates" role="button">Modpack Page</a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 text-center modpack">
            <img class="img-circle" alt="140x140" src="/images/modpacks/unknownbig.png" data-holder-rendered="true">
            <h3>Empty Slot</h3>
            <p>Would you like to see your modpack or server here?<br>Contact Ionaru on <a
                    href="mailto:info@saturnserver.org">info@saturnserver.org</a> or join our <a
                    href="https://discord.gg/0XcYsrFpMdz5e1TN" target="_blank">Discord Channel</a> for more
               information.</p>
            <div>
            </div>
        </div>
    </div>
    <br>
</div>
<div class="jumbotron main_header">
    <div class="container">
        <h3>The Saturn Server Network and all related products, are entirely
            funded by the generosity of its players. Please click the green button to see how <strong>you can
                                                                                                      help</strong> us
            stay online another day!</h3>
        <a role="button" href="/donate/donate.php" class="btn btn-lg btn-success disabled">Help the network!</a>
    </div>
</div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h2>About Us</h2>
            <p>The Saturn Server Network is a group of Minecraft modpacks and servers working together, supporting each
               other and providing exposure to the other modpacks under this brand.</p>
            <p>Our goal is to provide the players a wide range of different modpacks to choose from, and be able to
               switch to a different modpack, while still benefiting from the features that The Saturn Server offers
               it's players.</p>
        </div>
        <div class="col-lg-6 col-sm-12 text-right">
            <h2>Contact Us</h2>
            <address>
                <strong>The Saturn Server Network</strong><br>
                Managed by Jeroen Akkerman (Ionaru),<br>
                <a href="mailto:info@saturnserver.org">info@saturnserver.org</a><br>
            </address>
            <h4>Links</h4>
            <div class="row">
                <a href="http://steamcommunity.com/groups/thesaturnserver" target="_blank">
                    <img class="img-circle" src="https://saturnserver.org/icon/Yzsee6f.png"
                         alt="Steam"
                         height="32" width="32">
                </a>
                <a href="http://www.technicpack.net/profile/33961/modpacks" target="_blank">
                    <img class="img-circle" src="https://saturnserver.org/icon/hqOAKF7xo4P0O4s8t32l0Q-launch_splash.png"
                         alt="Technic"
                         height="32" width="32">
                </a>
                <a href="https://plus.google.com/115138445273910584800" target="_blank">
                    <img class="img-circle"
                         src="https://lh3.googleusercontent.com/-IMGb4CkWC98/VeXR6rWlM1I/AAAAAAAA7c4/aC-I28R6_ps/s426/GooglePlus-logos-02.png"
                         alt="Google Plus"
                         height="32" width="32">
                </a>
                <a href="https://discord.gg/0XcYsrFpMdz5e1TN" target="_blank">
                    <img class="img"
                         src="/images/social/discord.png"
                         alt="Discord Chat"
                         height="32" width="32">
                </a>
                <a href="https://minecraft.net/" target="_blank">
                    <img class="img"
                         src="https://saturnserver.org/icon/Minecraft_Block.svg"
                         alt="Minecraft"
                         height="32" width="32">
                </a>
            </div>
        </div>
    </div>
</div>