<header>
    <div class="jumbotron gates_header">
        <h2><img class="modpack-logo" alt="GATES Logo"
                 src="/images/modpacks/gates/StargateGATESS.png"></h2>
        <h2>Love For Exploration</h2>
        <h4>
            Explore new worlds, planets and dimensions in GATES! This brand-new modpack focuses on the use of Stargates.<br>
            With magical and technological weaponry at your disposal, no enemy will stand in your way!
        </h4>
    </div>
</header>
<h2 class="ah text-center">Daniel Jackson can read this Ancient writing because he was once ascended</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 text-left">
            <h3>Modpack Information</h3>
            <p>GATES is a modpack about the exploration of new worlds and dimensions. To help you with this, mods
                are added that give you a wide range of weapons and technology. This will help you conquer the harsh
                and unforgiving worlds you will encounter.</p>
            <p>In the Stargate series, some aliens were very technologically advanced, the tools they used sometimes
                seemed magical. To simulate this, there are a number of technological mods and a few magic mods in
                this modpack.</p>
        </div>
        <div class="col-md-6 col-sm-12 text-right">
            <h3>Notable Mods</h3>
            <div class="col-xs-2 col-centered moddiv">
                <img class="modimg" src="/images/mods/lanteacraft.png"
                     alt="Lanteacraft" data-toggle="tooltip"
                     data-placement="bottom" title="Lanteacraft">
            </div>
            <div class="col-xs-2 col-centered moddiv">
                <img class="modimg" src="/images/mods/pamsharvestcraft.png"
                     alt="Pam's Harvestcraft" data-toggle="tooltip"
                     data-placement="bottom" title="Pam's Harvestcraft">
            </div>
            <div class="col-xs-2 col-centered moddiv">
                <img class="modimg" src="/images/mods/thermalexpansion.png"
                     alt="Thermal Expansion" data-toggle="tooltip"
                     data-placement="bottom" title="Thermal Expansion">
            </div>
            <div class="col-xs-2 col-centered moddiv">
                <img class="modimg" src="/images/mods/flansmod.png"
                     alt="Flan's Mod" data-toggle="tooltip"
                     data-placement="bottom" title="Flan's Mod">
            </div>
            <div class="col-xs-2 col-centered moddiv">
                <img class="modimg" src="/images/mods/thaumcraft.png"
                     alt="Thaumcraft" data-toggle="tooltip"
                     data-placement="bottom" title="Thaumcraft">
            </div>
            <div class="col-xs-2 col-centered moddiv">
                <img class="modimg" src="/images/mods/opencomputers.png"
                     alt="OpenComputers" data-toggle="tooltip"
                     data-placement="bottom" title="OpenComputers">
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <h3><span class="mdi mdi-settings" aria-hidden="true"></span> Development</h3>
            <p>The GATES Modpack is no longer in active development and will most likely not receive large updates for
                the time being.</p>
        </div>
        <div class="clearfix visible-sm"></div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <h3><span class="fa fa-thumbs-up" aria-hidden="true"></span> Help us out!</h3>
            <p>Help the modpack become and stay popular by giving it a +1 on the Technic Platform page!</p>
        </div>
        <div class="clearfix visible-sm"></div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <h3 class="ah"><span class="fa fa-language" aria-hidden="true"></span> I can't read Ancient!</h3>
            <p class="ah">If you can not read ancient, please use
                <a href="https://en.wikipedia.org/wiki/Ancient_%28Stargate%29">this</a>
                page to learn it. Alternatively you can learn the secret of ascension and gain the
                knowledge to read, speak and write ancient through this method.</p>
        </div>
        <div class="clearfix visible-sm"></div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <h3><i class="fa fa-youtube"></i> Youtube</h3>
            <p>You are free to create, publish and monetise Youtube videos of the GATES Modpack, videos or pictures
                submitted to Ionaru might be posted on this page.</p>
        </div>
    </div>
</div>
<br>
<div class="container"><a class="anchor" id="Buttons"
                          style="display: block; position: relative; top: -60px; visibility: hidden;"></a>
    <div class="row">
        <div class="text-center col-sm-4">
            <h3>Installation</h3>
            <p>Click the button below to go to the GATES page on the Technic Platform to install the modpack.</p>
            <a class="btn btn-primary" href="http://www.technicpack.net/modpack/gates.625315" target="_blank"
               role="button"><i class="fa fa-external-link"></i> Technic Platform</a>
            <a data-target="#howto" data-toggle="collapse" class="btn btn-warning btn-md">How To Install?</a>
        </div>
        <div class="text-center col-sm-4">
            <h3>Mods</h3>
            <p>Please click the buttons below to view all the mods in this modpack.</p>
            <!--<a target="_blank" href="gates/changelog" class="btn btn-primary btn-md disabled">Changelog</a>-->
            <a data-target="#mods" data-toggle="collapse" class="btn btn-primary btn-md">Show Mods</a></div>
        <div class="text-center col-sm-4">
            <h3>Server Files</h3>
            <p>Want to start your own GATES server? Download the latest server files here!</p>
            <a data-target="#server-downloads" data-toggle="collapse" class="btn btn-primary btn-md">Server
                Download</a>
        </div>
    </div>
</div>
<div id="howto" class="collapse">
    <hr>
    {{> howto}}
    <div class="text-center"><a href="#Buttons" data-target="#howto" data-toggle="collapse"
                                class="btn btn-primary btn-md">Close & Go Back</a></div>
</div>
<div id="mods" class="collapse text-center container mod-list">
    <hr>
    <h3>Mods in GATES</h3>
    <div>
        <div id="content">
            <br>
            <p>Fetching mod list from API, please wait...</p>
            <img alt="Loading" src="/images/loader.gif"/><br><br>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $.get("/gates/mod_list"
            ).done(function (data) {
                if (!data[0]) {
                    var content = "";
                    content += '<p>Latest version: ' + data[1]['modpackVersion'] + ' for Minecraft ' + data[1]['minecraftVersion'] + '</p>';
                    content += '<table class="table table-hover table-responsive table-condensed sortable" style="width:100%; table-layout: fixed;">';
                    content += '<thead>';
                    content += '<tr>';
                    content += '<th class="text-left">Mod Name</th>';
                    content += '<th class="text-left">Author</th>';
                    content += '<th class="text-left">Version</th>';
                    content += '<th class="text-right">Link</th>';
                    content += '</tr>';
                    content += '</thead>';
                    content += '<tbody>';

                    for (var modID in data[1]['mods']) {
                        var mod = data[1]['mods'][modID];
                        content += '<tr>';
                        content += '<td class="text-left">' + mod['pretty_name'] + '</td>';
                        content += '<td class="text-left">' + mod['author'] + '</td>';
                        content += '<td class="text-left">' + mod['version'] + '</td>';
                        var linkType = "Mod Website";
                        if (mod['link'].search("minecraftforum") > -1) {
                            linkType = 'Minecraft Forum';
                        }
                        if (mod['link'].search("curseforge") > -1) {
                            linkType = 'Curse';
                        }
                        if (mod['link'].search("curse.com") > -1) {
                            linkType = 'Curse';
                        }
                        if (mod['link'].search("github") > -1) {
                            linkType = 'GitHub';
                        }
                        if (mod['link'].search("forum.industrial") > -1) {
                            linkType = 'IC2 Forum';
                        }

                        content += '<td class="text-right"><a class="btn btn-primary btn-xs" href="' + mod['link'] + '" target="_blank" rel="external"><i class="fa fa-external-link"></i> ' + linkType + '</a></td>';
                        content += '</tr>';
                    }

                    content += '</tbody>';
                    content += '</table>';
                    $('#content').html(content);
                }
                else {
                    $('#content').html("<p>Unable to get mod list, please wait a few minutes and try again.</p>");
                }
            }).fail(function () {
                $('#content').html("<p>Unable to get mod list, please refresh the page to try again.</p>");
            });
        });
    </script>
    <div class="text-center"><a href="#Buttons" data-target="#mods" data-toggle="collapse"
                                class="btn btn-primary btn-md">Close & Go Back</a></div>
</div>
<div id="server-downloads" class="collapse server-files text-center container">
    <hr>
    <h3>GATES server downloads</h3>
    <div>
        <div id="server-files-content">
            <br>
            <p>Fetching server files list from API, please wait...</p>
            <img alt="Loading" src="/images/loader.gif"/><br><br>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $.get("/gates/serverfiles"
            ).done(function (data) {
                if (!data[0]) {
                    var content = "";
                    content += '<table class="table table-hover" style="width:100%; table-layout: fixed;">';
                    content += '<thead>';
                    content += '<tr>';
                    content += '<th class="text-left">Version</th>';
                    content += '<th class="text-left">Package size</th>';
                    content += '<th class="text-right">Download</th>';
                    content += '</tr>';
                    content += '</thead>';
                    content += '<tbody>';
                    for (var packageID in data[1]) {
                        var filePackage = data[1][packageID];
                        if (packageID == 0) {
                            content += '<tr class="success">';
                            content += '<td class="text-left">' + filePackage['version'] + ' - Latest</td>';
                        }
                        else {
                            content += '<tr>';
                            content += '<td class="text-left">' + filePackage['version'] + '</td>';
                        }
                        var packageSize = ((filePackage['size'] / 1024) / 1024).toFixed(2);
                        content += '<td class="text-left">' + packageSize + ' MB</td>';

                        content += '<td class="text-right"><a class="btn btn-primary btn-xs" href="ftp://serverfiles@85.25.237.10/gates/' + filePackage['name'] + '"><i class="fa fa-download"></i> Download</a></td>';
                        content += '</tr>';
                    }
                    content += '<p class="text-right">Tip: check out these amazing projects to improve your server!<br>';
                    content += '<a target="_blank" rel="external" href="https://tcpr.ca/downloads/mcpc" class="btn btn-default btn-xs"><i class="fa fa-external-link"></i> MCPC+ (up to 1.7.2)</a> ';
                    content += '<a target="_blank" rel="external" href="https://gitlab.prok.pw/KCauldron/KCauldron" class="btn btn-default btn-xs"><i class="fa fa-external-link"></i> KCauldron (1.7.10)</a> ';
                    content += '<a target="_blank" rel="external" href="https://www.spongepowered.org/" class="btn btn-default btn-xs"><i class="fa fa-external-link"></i> Sponge (1.8 and up)</a></p>';
                    content += '</tbody>';
                    content += '</table>';
                    $('#server-files-content').html(content);
                }
                else {
                    $('#server-files-content').html("<p>Unable to fetch the server files, please wait a few minutes and try again.</p>");
                }
            }).fail(function () {
                $('#server-files-content').html("<p>Unable to fetch the server files, please refresh the page to try again.</p>");
            });
        });
    </script>
    <div class="text-center"><a data-target="#server-downloads" data-toggle="collapse"
                                class="btn btn-primary btn-md">Close</a></div>
</div>
<br>
<section class="well"><a class="anchor" id="Media"></a>
    <h2 class="text-center">Modpack Media</h2>
    <br>
    <div class="container">
        <div class="row text-center">
            <!-- <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/unavailabe"></iframe>
                </div>
                <br>
              </div>
              <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/unavailabe"></iframe>
                </div>
                <br>
              </div> -->
            <div class="col-md-12"><img src="/images/modpacks/gates/image01.png" class="img-responsive"
                                        alt="Placeholder image">
                <br>
            </div>
            <div class="col-md-6"><img src="/images/modpacks/gates/GATESMedia2.png" class="img-responsive"
                                       alt="Steph burning a villager"> <br>
            </div>
            <div class="col-md-6"><img src="/images/modpacks/gates/ControlRoom.png" class="img-responsive"
                                       alt="The Stargate Control Room"> <br>
            </div>
            <div class="col-md-6"><img src="/images/modpacks/gates/GATESMedia3.png" class="img-responsive"
                                       alt="The Alpha Site training Dummy"> <br>
            </div>
            <div class="col-md-6"><img src="/images/modpacks/gates/GATESMedia4.png" class="img-responsive"
                                       alt="House and crops">
            </div>
        </div>
    </div>
</section>