<div class="container">
    <h2>Technolution Advanced Changelog</h2>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle btn-primary btn-sm" type="button" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Choose a Version
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#6.0.3">6.0.3</a></li>
            <li><a href="#6.0.2">6.0.2</a></li>
            <li><a href="#6.0.1">6.0.1</a></li>
            <li><a href="#6.0.0">6.0.0</a></li>
            <li><a href="#5.6.7">5.6.7</a></li>
            <li><a href="#5.6.6">5.6.6</a></li>
        </ul>
    </div>
    <br>
    <div class="text-right">
        <a class="btn btn-success btn-sm btn-pad disabled mod_label">Added Mod <span class="badge">Version</span></a>
        <a class="btn btn-info btn-sm btn-pad disabled mod_label">Changed Mod <span class="badge">New Version</span></a>
        <a class="btn btn-danger btn-sm btn-pad disabled mod_label">Removed Mod</a>
    </div>
    <hr>
    <div><h3>6.0.3</h3><a class="anchor" id="6.0.3"></a><br><a class="btn btn-info btn-sm btn-pad disabled mod_label">GregTech
                                                                                                                      Intergalactical
        <span class="badge">6.03.13</span></a><br><br><br><a href="#" class="btn btn-primary btn-sm">Back to Top <i
            class="fa fa-caret-up"></i></a></div>
    <hr>
    <div><h3>6.0.2</h3><a class="anchor" id="6.0.2"></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Botania
        <span class="badge">1.8-249</span></a><br><a class="btn btn-info btn-sm btn-pad disabled mod_label">GregTech
                                                                                                            Intergalactical
        <span class="badge">6.03.09</span></a><a class="btn btn-info btn-sm btn-pad disabled mod_label">OpenComputers
        <span class="badge">1.6.0.6b4</span></a><br><br><br><a href="#" class="btn btn-primary btn-sm">Back to Top <i
            class="fa fa-caret-up"></i></a></div>
    <hr>
    <div><h3>6.0.1</h3><a class="anchor" id="6.0.1"></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Applied
                                                                                                                     Energistics
        <span class="badge">2-rv3-beta-5</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Bibliocraft
        <span class="badge">1.11.5</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Biomes O
                                                                                                          Plenty <span
                class="badge">2.1.0.2027</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">CodeChickenCore
        <span class="badge">1.0.7.47</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Forestry
        <span class="badge">4.2.13</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">GregTech
                                                                                                          Intergalactical
        <span class="badge">6.03.02</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Harvestcraft
        <span class="badge">lb</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Industrialcraft 2
        <span class="badge">2.2.822</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Minetweaker
        <span class="badge">3.0.10B</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">ModTweaker
        <span class="badge">2-0.9.5</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Not Enough
                                                                                                           Items -
                                                                                                           Addons <span
                class="badge">1.12.13.38</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Not
                                                                                                                Enough
                                                                                                                Items -
                                                                                                                Integration
        <span class="badge">1.1.2</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Not Enough
                                                                                                         Items <span
                class="badge">1.0.5.111</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Railcraft
        <span class="badge">9.12.2.0</span></a><br><a class="btn btn-info btn-sm btn-pad disabled mod_label">OpenComputers
        <span class="badge">1.6.0.5b3</span></a><a class="btn btn-info btn-sm btn-pad disabled mod_label">Technolution
                                                                                                          Core <span
                class="badge">6.0.1</span></a><br><a class="btn btn-danger btn-sm btn-pad disabled mod_label">Computronics</a><br><br><a
            href="#" class="btn btn-primary btn-sm">Back to Top <i class="fa fa-caret-up"></i></a></div>
    <hr>
    <div><h3>6.0.0</h3><a class="anchor" id="6.0.0"></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Computronics
        <span class="badge">1.6.0</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Technolution
                                                                                                         Core <span
                class="badge">6.0.0</span></a><br><a class="btn btn-info btn-sm btn-pad disabled mod_label">Binnie's
                                                                                                            Mods <span
                class="badge">2.0-pre14.1</span></a><a class="btn btn-info btn-sm btn-pad disabled mod_label">OpenComputers
        <span class="badge">1.5.22.46</span></a><br><a class="btn btn-danger btn-sm btn-pad disabled mod_label">Applied
                                                                                                                Energistics</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Better Animations Collection Revived</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Bibliocraft</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Biomes O Plenty</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Buildcraft</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Carpenter's Blocks</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Chisel Mod</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">CodeChickenCore</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Currency Mod</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Enderstorage</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Extra TiC</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Extra Utilities</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Forestry</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Forge Modloader + Liteloader</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Jammie's Furniture Mod</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">GregTech Intergalactical</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Hardcore Ender Expansion</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Harvestcraft</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Hats mod</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Hunger Overhaul</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Industrialcraft 2</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Industrialcraft 2 - Addons</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Infernal Mobs</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Inventory Tweaks</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Iron Chests</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Journey Map</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Logistics Pipes</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Metallurgy</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Minetweaker</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">More Records Mod</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Natura</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Nether Ores</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Not Enough Items</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Obsidiplates</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Oceancraft</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Optifine</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Portalgun Mod</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Project: Red</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Railcraft</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Roguelike Dungeons</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Smart Moving</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Special Mobs</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Starter Settings</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Statues Mod</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Steve's Carts</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Thermal Expansion</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Tinkers' Construct</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Traincraft</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Vending blocks</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Voxelmods</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Wireless Redstone - ChickenBones Edition</a><a
            class="btn btn-danger btn-sm btn-pad disabled mod_label">Zombie Awareness</a><br><br><a href="#"
                                                                                                    class="btn btn-primary btn-sm">Back
                                                                                                                                   to
                                                                                                                                   Top
        <i class="fa fa-caret-up"></i></a></div>
    <hr>
    <div><h3>5.6.7</h3><a class="anchor" id="5.6.7"></a><br><a class="btn btn-info btn-sm btn-pad disabled mod_label">Forge
                                                                                                                      Modloader
                                                                                                                      +
                                                                                                                      Liteloader
        <span class="badge">9.11.1.965o</span></a><a class="btn btn-info btn-sm btn-pad disabled mod_label">Voxelmods
        <span class="badge">1.3g</span></a><br><br><br><a href="#" class="btn btn-primary btn-sm">Back to Top <i
            class="fa fa-caret-up"></i></a></div>
    <hr>
    <div><h3>5.6.6</h3><a class="anchor" id="5.6.6"></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Applied
                                                                                                                     Energistics
        <span class="badge">rv14-finale3a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Better
                                                                                                                 Animations
                                                                                                                 Collection
                                                                                                                 Revived
        <span class="badge">5.2a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Bibliocraft
        <span class="badge">1.5.5a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Binnie's Mods
        <span class="badge">1.8.0m</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Biomes O
                                                                                                          Plenty <span
                class="badge">1.2.1.434b</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Buildcraft
        <span class="badge">4.2.2a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Carpenter's
                                                                                                          Blocks <span
                class="badge">3.2.8.2a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Chisel Mod
        <span class="badge">1.5.0b</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">CodeChickenCore
        <span class="badge">0.9.0.9a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Currency Mod
        <span class="badge">1.0a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Enderstorage
        <span class="badge">1.4.3.6b</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Extra TiC
        <span class="badge">0.8.4d</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Extra
                                                                                                          Utilities
        <span class="badge">1.0.3d</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Forestry <span
            class="badge">2.3.1.1a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Forge
                                                                                                          Modloader +
                                                                                                          Liteloader
        <span class="badge">9.11.1.965n</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Jammie's
                                                                                                               Furniture
                                                                                                               Mod <span
                class="badge">4.5a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">GregTech
                                                                                                          Intergalactical
        <span class="badge">4.08s-u6</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Hardcore
                                                                                                            Ender
                                                                                                            Expansion
        <span class="badge">1.6.1</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Harvestcraft
        <span class="badge">1.1.4a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Hats mod <span
            class="badge">2.1.8b</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Hunger Overhaul
        <span class="badge">2ld</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Industrialcraft 2
        <span class="badge">2.0.397b</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Industrialcraft
                                                                                                            2 - Addons
        <span class="badge">1.6a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Infernal Mobs
        <span class="badge">1.4.4</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Inventory
                                                                                                         Tweaks <span
                class="badge">1.56-b77a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Iron
                                                                                                               Chests
        <span class="badge">5.4.1.702a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Journey
                                                                                                              Map <span
                class="badge">4.0.3</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Logistics
                                                                                                           Pipes <span
                class="badge">0.7.4.dev.294a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Metallurgy
        <span class="badge">3.4.1b</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Minetweaker
        <span class="badge">3.0.9c</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">More Records
                                                                                                          Mod <span
                class="badge">2.1.0a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Natura <span
            class="badge">2.1.14a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Nether Ores
        <span class="badge">2.2.2-55b</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Not Enough
                                                                                                             Items <span
                class="badge">1.6.1.9a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Obsidiplates
        <span class="badge">2.0.0.15a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Oceancraft
        <span class="badge">1.2.1</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">OpenComputers
        <span class="badge">1.3.6.561a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Optifine
        <span class="badge">HD_U_D1</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Portalgun Mod
        <span class="badge">2.0.2</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Project: Red
        <span class="badge">4.3.5.30a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Railcraft
        <span class="badge">8.4.0.0a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Roguelike
                                                                                                            Dungeons
        <span class="badge">1.3.3a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Smart Moving
        <span class="badge">14.6.1</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Special Mobs
        <span class="badge">3.0</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Starter Settings
        <span class="badge">1.0a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Statues Mod
        <span class="badge">2.1.1a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Steve's Carts
        <span class="badge">2.0.0.b11a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Thermal
                                                                                                              Expansion
        <span class="badge">3.0.0.7b</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Tinkers'
                                                                                                            Construct
        <span class="badge">1.5.5.7.4</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Traincraft
        <span class="badge">4.2.1_011</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Vending
                                                                                                             blocks
        <span class="badge">1.1.1a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Voxelmods
        <span class="badge">1.3f</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Wireless
                                                                                                        Redstone -
                                                                                                        ChickenBones
                                                                                                        Edition <span
                class="badge">1.4.0.7a</span></a><a class="btn btn-success btn-sm btn-pad disabled mod_label">Zombie
                                                                                                              Awareness
        <span class="badge">1.9a</span></a><br><br><a href="#" class="btn btn-primary btn-sm">Back to Top <i
            class="fa fa-caret-up"></i></a></div>
</div>