<footer>
    <div>
        <hr>
        <p class="footer_text">
            <span class="fa fa-copyright"></span>
            2011 - 2016 saturnserver.org, by
            <a href="https://github.com/Ionaru" target="_blank">Jeroen Akkerman</a>.
        </p>
    </div>
</footer>

{{> core/login}}{{> core/register}}

<script src="/javascript/saturnmin.js"></script>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>