<div class="login modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" data-modal-mode="login"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Log in</h4>
            </div>

            <form id="loginForm">
                <div class="modal-body">

                    <div class="form-group username_input">
                        <div class="input-group">
                            <input type="text" class="form-control" id="uLogin" placeholder="Account name or Email">
                            <label for="uLogin" id="uLogin_icon"
                                   class="input-group-addon mdi mdi-account mdi-18px"></label>
                        </div>
                    </div>

                    <div class="form-group password_input">
                        <div class="input-group">
                            <input type="password" class="form-control" id="uPassword" placeholder="Password">
                            <label for="uPassword" id="uPassword_icon"
                                   class="input-group-addon mdi mdi-key-variant mdi-18px"></label>
                        </div>
                    </div>
                    <div class="form-group forgot_password_input">
                        <div class="input-group">
                            <input type="email" class="form-control" id="uForgot_Email" placeholder="Email">
                            <label for="uForgot_Email" id="uForgot_Email_icon"
                                   class="input-group-addon mdi mdi-email mdi-18px"></label>
                        </div>
                    </div>
                    <div class="forgot-password-button">
                        <span class="btn btn-warning btn-xs">Password lost?</span>
                    </div>
                    <div class="forgot-password-button go-back">
                        <span class="btn btn-success btn-xs">Go back</span>
                    </div>
                    <div class="loginError">
                        <p class="login_error_text text-center"></p>
                    </div>
                    <!--<div class="checkbox">-->
                    <!--<label>-->
                    <!--<input type="checkbox" id="uCookie"> Remember me-->
                    <!--</label>-->
                    <!--</div>-->
                    <!--<div class="material-switch pull-right">-->
                    <!--<input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox"/>-->
                    <!--<label for="someSwitchOptionDefault" class="label-default"></label>-->
                    <!--</div>-->
                </div>

                <div class="modal-footer">
                    <button id="loginbutton" type="submit" class="form-control btn btn-primary disabled">Log in</button>
                    <button id="forgotpasswordbutton" type="submit" class="form-control btn btn-primary disabled">Reset password</button>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             data-transitiongoal="100"></div>
                        <span class="sr-only">progress</span>
                    </div>
                </div>
            </form>
            <div class="post-login text-center">
                <h4>You are now logged in.</h4>
            </div>
        </div>

    </div>
</div>